

@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');


.fold{
  width: 100%;
  height: 100%;
  /* background: #1e1e1e; */
  /* position: relative; */
  padding: 0;
  margin: 0;
}

.animation {
  /* font-family: helvetica, arial, sans-serif; */
  font-family: 'Play', sans-serif;;
  width: 100%;

  font-size: 3vw;
  color: white;
  text-align: right;
  /* position: absolute; */
  font-weight: 900;
  padding-top: 8%;
  padding-right: 4%;
  top: 50%;
  left: 0;
  right: 0;
  margin-right: 30%;
  -webkit-transform: translate3d(0,-50%,0);
          transform: translate3d(0,-50%,0);
  margin: 0;
  background: url('https://media.giphy.com/media/xT8pe173nc7I14OKdi/giphy.gif');
  background-size: cover;
  background-repeat: norepeat;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  list-style-type: none;
}