{% load static %}

<footer>
    <div>
        <div class="footer_blue nav_footer_font">
            
            <a href="/">web development</a>
            <a href="/">SEO</a>
            <a href="/">Web design</a>
            <a href="/">App development</a>
            
        </div>
        <div class="flex-end">
        <div class="footer_orange orange">
            <a href="/"><i class="fab fa-instagram fa-4x"></i></a>
            <a href="/"><i class="fab fa-telegram fa-4x"></i></a>
            <a href="/"><i class="fab fa-vk fa-4x"></i></a>
            <a href="/"><i class="fab fa-twitter fa-4x"></i></a>
            <a href="/"><i class="fab fa-tiktok fa-4x"></i></a>
            <a href="/"><i class="fab fa-youtube fa-4x"></i></a>
            <a href="/"><i class="fab fa-whatsapp fa-4x"></i></a>
            <a href="/"><i class="far fa-envelope fa-4x"></i></a>
            <a href="/"><i class="fab fa-facebook-f fa-4x"></i></a>

        </div>
    </div>
    </div>
    
    <div class="legal footer_blue harry_potter">
        <div>
            <p>Copyright © 2020 Sexy Development. All rights reserved.</p> 
        </div>  
        <div class="boring">
            <p><a href="/">Terms of Use</a></p>
            <p><a href="/">Privacy Policy</a></p>
            <p><a href="/">Site Map</a></p>
        </div>
    </div> 

</footer>