{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- partial:index.partial.html -->
<div id="nav_menu" class="panel" data-color="violet">
      <ul>
        <li id="fill_blue"><a href="#">Заказать сайт</a></li>
        <li id="fill_blue"><a href="#">Заказать красивый сайт</a></li>
        <li id="fill_blue"><a href="#">Сделать чат-бота (мне одиноко)</a></li>
        <li id="fill_blue"><a href="#">срочно нужно в топ гугла</a></li>
        <li id="fill_blue"><a href="#">Хочу приложение</a></li>
        <li id="fill_blue"><a href="#">Я просто гуляю</a></li>
        <li id="fill_blue"><a href="#">Разработка ПО</a></li>
      </ul>
</div>
<!-- <div class="panel" data-color="violet">
  <h2>Violet panel</h2>
</div> -->
<div class="panel" data-color="indigo">
  <h2>Indigo panel</h2>
</div>
<div class="panel" data-color="blue">
  <h2>Blue panel</h2>
</div>
<div class="panel" data-color="green">
  <h2>Green panel</h2>
</div>
<div class="panel" data-color="yellow">
  <h2>Yellow panel</h2>
</div>
<div class="panel" data-color="orange">
  <h2>Orange panel</h2>
</div>
<div class="panel" data-color="red">
  <h2>Red panel</h2>
</div>
<!-- partial -->
{% endblock content %}


