{% load static %}

<!DOCTYPE html>
<html lang="ru" >
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>da vinci</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/face-with-rolling-eyes_1f644.png">

  <!-- Google Fonts -->


  <!-- Vendor CSS Links -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <!-- Template Main CSS File -->
  <!-- <link href="{% static 'assets/css/style.css' %}"  rel="stylesheet"> -->
  <link href="{% static 'assets/css/style_spline_design.css' %}"  rel="stylesheet">
  <!-- <link href="{% static 'assets/css/style_violet_background.css' %}"  rel="stylesheet"> -->

</head>

<body>
<!-- 
░░░░░░░░░░░░░░░░░░░░░▄▀░░▌
░░░░░░░░░░░░░░░░░░░▄▀▐░░░▌
░░░░░░░░░░░░░░░░▄▀▀▒▐▒░░░▌
░░░░░▄▀▀▄░░░▄▄▀▀▒▒▒▒▌▒▒░░▌
░░░░▐▒░░░▀▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒█
░░░░▌▒░░░░▒▀▄▒▒▒▒▒▒▒▒▒▒▒▒▒▀▄
░░░░▐▒░░░░░▒▒▒▒▒▒▒▒▒▌▒▐▒▒▒▒▒▀▄
░░░░▌▀▄░░▒▒▒▒▒▒▒▒▐▒▒▒▌▒▌▒▄▄▒▒▐
░░░▌▌▒▒▀▒▒▒▒▒▒▒▒▒▒▐▒▒▒▒▒█▄█▌▒▒▌
░▄▀▒▐▒▒▒▒▒▒▒▒▒▒▒▄▀█▌▒▒▒▒▒▀▀▒▒▐░░░▄
▀▒▒▒▒▌▒▒▒▒▒▒▒▄▒▐███▌▄▒▒▒▒▒▒▒▄▀▀▀▀
▒▒▒▒▒▐▒▒▒▒▒▄▀▒▒▒▀▀▀▒▒▒▒▄█▀░░▒▌▀▀▄▄
▒▒▒▒▒▒█▒▄▄▀▒▒▒▒▒▒▒▒▒▒▒░░▐▒▀▄▀▄░░░░▀
▒▒▒▒▒▒▒█▒▒▒▒▒▒▒▒▒▄▒▒▒▒▄▀▒▒▒▌░░▀▄
▒▒▒▒▒▒▒▒▀▄▒▒▒▒▒▒▒▒▀▀▀▀▒▒▒▄▀ -->
<!-- ======= Header ======= -->
  <header>
    <div class="header">
      <h1><a href="/">жёлтые котики®</a></h1>
    </div>
    <div class="ham"><img src="{% static 'assets/img/ham.png' %}"></div> 
  </header> <!-- End Header -->  
  <hr>
<!-- ======= Main nav ======= -->
<nav>
<div class="panel" data-color="violet">
  <div class="nav_menu" >
    <ul>
      <li  ><a href="">НуженСайт</a></li>
      <li  ><a href="">НуженКрасивыйСайт</a></li>
      <!-- <li  id="black_background"><a  href="#">Заказать красивый сайт</a></li> -->
      <li  ><a href="#">СделатьЧат-бота</a></li>
      <li  id="black_background"><a href="#">срочно нужно в топ гугла</a></li>
 
      <li ><a href="#">Хочу приложение</a></li>
      <li  id="white"><a href="#">Я просто гуляю</a></li>
      <li  ><a href="#">Разработка ПО</a></li>
    </ul>
  </div>
</div>
</nav><!-- .main-nav-->

<div class="panel" data-color="indigo">
  <h2>Indigo panel</h2>
</div>
<div class="panel" data-color="blue">
  <h2>Blue panel</h2>
</div>
<div class="panel" data-color="green">
  <h2>Green panel</h2>
</div>
<div class="panel" data-color="yellow">
  <h2>Yellow panel</h2>
</div>
<div class="panel" data-color="orange">
  <h2>Orange panel</h2>
</div>
<div class="panel" data-color="red">
  <h2>Red panel</h2>
</div>
<!-- Vendor JS Files -->
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

<!-- Template Main JS File -->
<script  src="{% static 'assets/js/script.js' %}"></script> 

</body>
</html>


