{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Rapid Bootstrap Template - Index</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/face-with-rolling-eyes_1f644.png">

  <link href="{% static 'assets/css/style_menu.css' %}"  rel="stylesheet">
</head>

<body>

  <!-- ======= Nav Menu ======= -->
  <section class="fold">
    <ul>
      <li><a href="https://stackoverflow.com/questions/24345046/responsive-media-query-not-working-in-google-chrome">Заказать сайт</a></li>
      <li><a href="#">Заказать красивый сайт</a></li>
      <li><a href="#">Сделать чат-бота (мне одиноко)</a></li>
      <li><a href="#">срочно нужно в топ гугла</a></li>
      <li><a href="#">Хочу приложение</a></li>
      <li><a href="#">Я просто гуляю</a></li>
      <li><a href="#">Разработка ПО</a></li>
    </ul>
  </section>

  <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/web3.jpg' %}"  class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Web 3</a></h4>
                <p>Web</p>
                <div>
                  <a href="{% static 'assets/img/portfolio/web3.jpg' %}"  class="link-preview venobox" data-gall="portfolioGallery" title="Web 3"><i class="ion ion-eye"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>   
        </div>
      </div>
    </section><!-- End Portfolio Section -->
  


  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>