<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Interactive Canvas Design</title>
  <link rel="stylesheet" href="./style.css">

</head>
<style>body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}</style>


<body>
  <h1 style="font-size: 5rem;"> Loooooooooooooooool</h1>
<!-- partial:index.partial.html -->
<canvas id="myCanvas"></canvas>
<h2 style="font-size: 5rem;"> Loooooooooooooooool</h2>
<h2 style="font-size: 5rem;"> Loooooooooooooooool</h2>
<h2 style="font-size: 5rem;"> Loooooooooooooooool</h2>
<h2 style="font-size: 5rem;"> Loooooooooooooooool</h2>
<!-- partial -->


  <script  src="./script.js"></script>
<script>//Play with these numbers
  var radius = 10;          //Circle radius
  var weight = 3;           //Line thickness
  var force = 2500;         //Displacement sphere radius
  var maxDisplacement = 75; //Max displacement, Larger numbers mean shorter teather length
  var circleDensity = 30;   //How many circles per row
  
  var backgroundColor = 'Black';
  var largeCircleColor = '#222222';
  var mediumCircleColor = 'Blue';
  var smallCircleColor = 'Red';
  
  var canvas = document.querySelector('#myCanvas');
  var ctx = canvas.getContext('2d');
  
  var points = [];
  
  var mouse = {
    x: undefined,
    y: undefined
  };
  
  canvas.margin = '0px';
  canvas.style.backgroundColor = backgroundColor;
  
  
  window.addEventListener("resize", init);
  window.addEventListener("mousemove", function(event){
    mouse.x = event.x;
    mouse.y = event.y;
  });
  window.addEventListener("touchmove", function(event){
    mouse.x = event.touches[0].clientX;
    mouse.y = event.touches[0].clientY;
  });
  window.addEventListener("mousedown", function(){ force = -force; });
  window.addEventListener("mouseup", function(){ force = -force; });
  
  
  init();
  animate();
  
  
  function animate(){
    requestAnimationFrame(animate);
    ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
    
    //Loop each one separately to layer the circles correctly
    for(var i=0; i<points.length; i++){
      points[i].update();
    }
    
    for(var i=0; i<points.length; i++){
      points[i].drawLarge();    //Grey
    }
    
    for(var i=0; i<points.length; i++){
      points[i].drawMedium();   //Blue
    }
    
    for(var i=0; i<points.length; i++){
      points[i].drawSmall();    //Red
    }
  }
  
  
  function Point(x, y, r){
    this.x = x;
    this.y = y;
    this.radius = 15;
    
    this.medium = {
      x: x,
      y: y,
      radius: 10
    };
    
    this.small = {
      x: x,
      y: y,
      radius: 5
    };
    
    
    this.drawLarge = function(){
      ctx.beginPath();
      ctx.arc(this.x, this.y, this.radius, 0, 2 * Math.PI, false);
      ctx.strokeStyle = largeCircleColor;
      ctx.lineWidth = weight;
      ctx.stroke();
    };
    
    this.drawMedium = function(){
      ctx.beginPath();
      ctx.arc(this.medium.x, this.medium.y, this.medium.radius, 0, 2 * Math.PI, false);
      ctx.strokeStyle = mediumCircleColor;
      ctx.lineWidth = weight * (2/3);
      ctx.stroke();
    }
    
    this.drawSmall = function(){
      ctx.beginPath();
      ctx.arc(this.small.x, this.small.y, this.small.radius, 0, 2 * Math.PI, false);
      ctx.strokeStyle = smallCircleColor;
      ctx.lineWidth = weight * (1/3);
      ctx.stroke();
    }
    
    this.update = function(){
      var mx = mouse.x === undefined ? 10000 : mouse.x;
      var my = mouse.y === undefined ? 10000 : mouse.y;
      
      //Trig
      var mouseDist = Math.sqrt(Math.pow((mx - this.x), 2) + Math.pow((my - this.y), 2));
      mouseDist = mouseDist < maxDisplacement ? maxDisplacement : mouseDist;
      var angle = Math.atan( Math.abs(my - this.y) / Math.abs(mx - this.x) );
      var a = (force / mouseDist) * Math.sin(angle);
      var b = (force / mouseDist) * Math.cos(angle);
      
      if(mx > this.x){b = -b;}
      if(my > this.y){a = -a;}
      this.medium.x = this.x + b;
      this.medium.y = this.y + a;
      this.small.x = this.x + (b * 1.5);
      this.small.y = this.y + (a * 1.5);
    }
    
  } //End Point
  
  
  function init(){
    
    points = [];
    
    canvas.height = window.innerHeight;
    canvas.width = window.innerWidth;
    
    var morePoints = true;
    var x = 0;
    var y = 0;
    var offset = false;
    var dx = window.innerWidth / circleDensity;
    dx = dx < radius ? radius : dx;
    var dy = 2 * radius;
      
    
    while(morePoints){    
      points.push(new Point(x, y, radius));
      x += dx;
      if(x >= window.innerWidth + 5){
        if(offset){
          x = 0;
        } else {
          x = .5 * dx;
        }
        
        offset = !offset;
        y += dy;
      }
      
      if(y > window.innerHeight){
        morePoints = false;
      }
      
    }
    
  }</script>
</body>
</html>
