{% load static %}
<!-- Vendor JS Files -->
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.10.1/bodymovin.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>





<!-- Template Main JS File -->
<script  src="{% static 'assets/js/script.js' %}"></script> 
<script  src="{% static 'assets/js/tunnel.js' %}"></script> 
<script  src="{% static 'assets/js/canvas.js' %}"></script> 

